{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Budżetowiec</h1>

    {% if current_user %}
		Hello {{ current_user.username }}.		
		
		<p><a href="/income/new">Dodaj przychód</a>
		<a href="/expense/new">Dodaj wydatek</a>
		<a href="/balance/show">Przeglądaj bilans</a>
		<a href="/signup/new">Ustawienia</a>
		<a href="/logout">Wyloguj</a></p>
	{% else %}
		<a href="/signup/new">Rejestracja</a> or <a href="/login">Logowanie</a>.
	{% endif %}

{% endblock %}
