{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block footer %}
	<script src="/js/hideShowPassword.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
{% endblock %}

{% block body %}

    <div class="mainBoxOnSite d-flex justify-content-center">
		<div class="col-auto">
			<form action="/login/create" method="post" class="inputs p-5">

				<div class="mb-3">					
					<input type="email" id="inputEmail" name="email" placeholder="e-mail" autofocus value="{{ email }}" class="form-control" required>
				</div>
				<div class="mb-3">					
					<input type="password" id="inputPassword" name="password" placeholder="hasło" class="form-control" required>
					<i class="far fa-eye" id="togglePassword"></i>
				</div>
				
				<div class="row d-flex justify-content-center align-items-center">
					<div style="color: red">Nieprawidłowy login lub hasło!</div>
				</div>
				
				<div class="checkbox">
					<label>
						<input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %}> Pamiętaj mnie
					</label>
				</div>

				<button type="submit" class="customButton btn mt-5 p-3">Zaloguj się</button>

			</form>
		</div>
	</div>
    
{% endblock %}