<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}Budżetowiec - aplikacja internetowa do prowadzenia budżetu domowego{% endblock %}</title>
		
		<meta name="description" content="Moja pierwsza aplikacja internetowa">
		<meta name="keywords" content="prowadzenie budżetu, domowy budżet, budżet, jak oszczędzać, oszczędzanie, finanse, kontrola wydatków, przychody, wydatki, bilans, bilans finansowy">
		<meta name="author" content="Tomasz Nyćkowiak">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>	
		<link rel="stylesheet" href="/css/fontello.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap" rel="stylesheet">		
	</head>
	
	<body>		
		<header>
			<h1 class="title text-center text-uppercase mt-2 p-1">Budżetowiec</h1>
		</header>
			
		<div class="container">
			{% if current_user %}							
				<nav class="navMenu navbar navbar-dark navbar-expand-md">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
						<span class="navbar-toggler-icon"></span>
					</button>			
					<div class="collapse navbar-collapse" id="mainmenu">			
						<ol class="navbar-nav text-sm-center mx-auto">
							<li class="nav-item">
								<a class="nav-link" href="/income/new"> Dodaj przychód </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/expense/new"> Dodaj wydatek </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/balance/show"> Przeglądaj bilans </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/settings/show"> Ustawienia </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/logout"> Wyloguj </a>
							</li>
						</ol>			
					</div>		
				</nav>		
			{% endif %}			

			{% block body %}
			{% endblock %}
		</div>	

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
		{% block footer %}
		{% endblock %}
		
		{% block mainFooter %}
			<footer class="fixed-bottom">		
				<div class="footer d-flex justify-content-center mt-5 mb-2 p-1">
					<div class="col-auto">
						Wszelkie prawa zastrzeżone &copy; 2021 | <i class="icon-mail"></i> tomasz.nyckowiak.programista@gmail.com
					</div>			
				</div>	
			</footer>
		{% endblock %}
	</body>
	
</html>
