{% extends 'base.html' %}

{% block title %}Add income{% endblock %}

{% block body %}

    <form method="post" action="/income/add" id="formAddincome">
		
		<div>
			<label for="inputAmount">Kwota: </label>
            <input type="number" step="0.01" name="amount" id="inputAmount" required>
		</div>
		<div>
			<label for="inputDate">Data: </label>
            <input type="date" name="date" value="{{ today }}" id="inputDate" required>
		</div>
		
		<fieldset>				
			<legend>Kategoria:</legend>
			<div>
			  <div>
				<input type="radio" name="gridRadios" id="gridRadios1" value="{{ names[0] }}" checked>
				<label for="gridRadios1">{{ names[0] }}</label>
			  </div>
			  <div>
				<input type="radio" name="gridRadios" id="gridRadios2" value="{{ names[1] }}">
				<label for="gridRadios2">{{ names[1] }}</label>
			  </div>
			  <div>
				<input type="radio" name="gridRadios" id="gridRadios3" value="{{ names[2] }}">
				<label for="gridRadios3">{{ names[2] }}</label>
			  </div>
			  <div>
				<input type="radio" name="gridRadios" id="gridRadios4" value="{{ names[3] }}">
				<label for="gridRadios4">{{ names[3] }}</label>
			  </div>
			</div>
		</fieldset>
		
		<div>
			<label for="CommentForIncome">Komentarz (opcjonalnie):</label>
			<textarea name="comment" id="CommentForIncome" rows="3" cols="60" minlength="10"></textarea>
		</div>
		
		<div>			
            <input type="submit" value="Dodaj przychód">
		</div>
		<div>			
            <button type="button" name="cancel">Anuluj</button>
		</div>
		
	</form>

{% endblock %}
